@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body {
  margin: 0;
  height: 100vh;
  background: #f6f2f9;
  color: #222222;
  font-family: "Euclid Circular A", "Poppins";
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
}

nav a {
  color: inherit;
  cursor: pointer;
}

nav a.active {
  color: #652E65;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}



.bars {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  pointer-events: none;
}

@keyframes show {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes hide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.bars > div {
  background: #652E65;
  transform: translateX(-100%);
}

.bars.show > div {
  animation: show 0.2s both ease-in-out;
}

.bars.hide > div {
  animation: hide 0.2s both ease-in-out;
}