body {
  margin: 0;
  height: 100vh;
  
  background: #0c1016;
  color: #ffffff;
  font-family: "Euclid Circular A", sans-serif;
  
}

* {
  box-sizing: border-box;
  user-select: none;
}

.cards {
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

.cards:hover .card {
  background: radial-gradient(
    800px circle at var(--xPos) var(--yPos),
    rgba(0, 255, 241, 0.4),
    transparent 15%
  );
}

.card {
  background: radial-gradient(
    400px circle at 0 0,
    rgba(0, 255, 241, 0),
    transparent 0%
  );
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background: radial-gradient(
    500px circle at var(--xPos) var(--yPos),
    rgba(0, 255, 241, 0.1),
    transparent 35%
  );
  opacity: 0;
  transition: all 0.15s ease-in-out;
}

.cards .card:hover::before {
  opacity: 1;
}

.card:hover :is(img, h2, p) {
  opacity: 1;
}